@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Noto+Sans+KR:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nerko One", cursive;
  font-family: "Noto Sans KR", sans-serif;
}
